<section>
    <div id="sec1">
      <div class="container text-center w-100 m-auto">
        <div class="row m-4">
          <div class="col">
            <a href="#sec2" class="nav-link bg-light rounded p-3 border border-2 border-dark">Student Toppers</a>
          </div>
          <div class="col">
            <a href="#sec3" class="nav-link bg-light rounded p-3 border border-2 border-dark">Past Department
              Toppers</a>
          </div>
          <div class="col">
            <a href="#sec4" class="nav-link bg-light rounded p-3 border border-2 border-dark">Current Department
              Toppers</a>
          </div>
          <div class="col">
            <a href="#sec5" class="nav-link bg-light rounded p-3 border border-2 border-dark">Current Semester
              Toppers</a>
          </div>
        </div>
      </div>
    </div>

    <div id="sec2" class="mb-5">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h3 class="bg-dark text-white rounded p-3 border border-2">Student Toppers</h3>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img0">
              <div class="card-body">
                <p class="card-text"> <b id="name0"></b></p>
                <p class="card-text"> <b id="gp0"></b></p>
                <p class="card-text"> <b id="email0"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img33">
              <div class="card-body">
                <p class="card-text"> <b id="name33"></b></p>
                <p class="card-text"> <b id="gp33"></b></p>
                <p class="card-text"> <b id="email33"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img34">
              <div class="card-body">
                <p class="card-text"> <b id="name34"></b></p>
                <p class="card-text"> <b id="gp34"></b></p>
                <p class="card-text"> <b id="email34"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img35">
              <div class="card-body">
                <p class="card-text"> <b id="name35"></b></p>
                <p class="card-text"> <b id="gp35"></b></p>
                <p class="card-text"> <b id="email35"></b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img36">
              <div class="card-body">
                <p class="card-text"> <b id="name36"></b></p>
                <p class="card-text"> <b id="gp36"></b></p>
                <p class="card-text"> <b id="email36"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img37">
              <div class="card-body">
                <p class="card-text"> <b id="name37"></b></p>
                <p class="card-text"> <b id="gp37"></b></p>
                <p class="card-text"> <b id="email37"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img38">
              <div class="card-body">
                <p class="card-text"> <b id="name38"></b></p>
                <p class="card-text"> <b id="gp38"></b></p>
                <p class="card-text"> <b id="email38"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img39">
              <div class="card-body">
                <p class="card-text"> <b id="name39"></b></p>
                <p class="card-text"> <b id="gp39"></b></p>
                <p class="card-text"> <b id="email39"></b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="sec3" class="mb-5">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h3 class="bg-dark text-white rounded p-3 border border-2">Past Department Toppers</h3>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img40">
              <div class="card-body">
                <p class="card-text"> <b id="name40"></b></p>
                <p class="card-text"> <b id="gp40"></b></p>
                <p class="card-text"> <b id="email40"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img41">
              <div class="card-body">
                <p class="card-text"> <b id="name41"></b></p>
                <p class="card-text"> <b id="gp41"></b></p>
                <p class="card-text"> <b id="email41"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img42">
              <div class="card-body">
                <p class="card-text"> <b id="name42"></b></p>
                <p class="card-text"> <b id="gp42"></b></p>
                <p class="card-text"> <b id="email42"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img43">
              <div class="card-body">
                <p class="card-text"> <b id="name43"></b></p>
                <p class="card-text"> <b id="gp43"></b></p>
                <p class="card-text"> <b id="email43"></b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img44">
              <div class="card-body">
                <p class="card-text"> <b id="name44"></b></p>
                <p class="card-text"> <b id="gp44"></b></p>
                <p class="card-text"> <b id="email44"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img45">
              <div class="card-body">
                <p class="card-text"> <b id="name45"></b></p>
                <p class="card-text"> <b id="gp45"></b></p>
                <p class="card-text"> <b id="email45"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img46">
              <div class="card-body">
                <p class="card-text"> <b id="name46"></b></p>
                <p class="card-text"> <b id="gp46"></b></p>
                <p class="card-text"> <b id="email46"></b></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="" class="card-img-top" alt="..." id="img47">
              <div class="card-body">
                <p class="card-text"> <b id="name47"></b></p>
                <p class="card-text"> <b id="gp47"></b></p>
                <p class="card-text"> <b id="email47"></b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sec4" class="mb-5">
      <div class="container text-center">
        <h3 class="bg-dark text-white rounded p-3 border border-2">Current Department Toppers</h3>
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h4 class="bg-light rounded p-3 border border-2">Semester-1</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img1">
                      <div class="card-body">
                        <p class="card-text"> <b id="name1"></b></p>
                        <p class="card-text"> <b id="gp1"></b></p>
                        <p class="card-text"> <b id="email1"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img2">
                      <div class="card-body">
                        <p class="card-text"> <b id="name2"></b></p>
                        <p class="card-text"> <b id="gp2"></b></p>
                        <p class="card-text"> <b id="email2"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img3">
                      <div class="card-body">
                        <p class="card-text"> <b id="name3"></b></p>
                        <p class="card-text"> <b id="gp3"></b></p>
                        <p class="card-text"> <b id="email3"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img4">
                      <div class="card-body">
                        <p class="card-text"> <b id="name4"></b></p>
                        <p class="card-text"> <b id="gp4"></b></p>
                        <p class="card-text"> <b id="email4"></b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h4 class="bg-light rounded p-3 border border-2">Semester-2</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img5">
                      <div class="card-body">
                        <p class="card-text"> <b id="name5"></b></p>
                        <p class="card-text"> <b id="gp5"></b></p>
                        <p class="card-text"> <b id="email5"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img6">
                      <div class="card-body">
                        <p class="card-text"> <b id="name6"></b></p>
                        <p class="card-text"> <b id="gp6"></b></p>
                        <p class="card-text"> <b id="email6"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img7">
                      <div class="card-body">
                        <p class="card-text"> <b id="name7"></b></p>
                        <p class="card-text"> <b id="gp7"></b></p>
                        <p class="card-text"> <b id="email7"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img8">
                      <div class="card-body">
                        <p class="card-text"> <b id="name8"></b></p>
                        <p class="card-text"> <b id="gp8"></b></p>
                        <p class="card-text"> <b id="email8"></b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h4 class="bg-light rounded p-3 border border-2">Semester-3</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img9">
                      <div class="card-body">
                        <p class="card-text"> <b id="name9"></b></p>
                        <p class="card-text"> <b id="gp9"></b></p>
                        <p class="card-text"> <b id="email9"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img10">
                      <div class="card-body">
                        <p class="card-text"> <b id="name10"></b></p>
                        <p class="card-text"> <b id="gp10"></b></p>
                        <p class="card-text"> <b id="email10"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img11">
                      <div class="card-body">
                        <p class="card-text"> <b id="name11"></b></p>
                        <p class="card-text"> <b id="gp11"></b></p>
                        <p class="card-text"> <b id="email11"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img12">
                      <div class="card-body">
                        <p class="card-text"> <b id="name12"></b></p>
                        <p class="card-text"> <b id="gp12"></b></p>
                        <p class="card-text"> <b id="email12"></b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h4 class="bg-light rounded p-3 border border-2">Semester-4</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img13">
                      <div class="card-body">
                        <p class="card-text"> <b id="name13"></b></p>
                        <p class="card-text"> <b id="gp13"></b></p>
                        <p class="card-text"> <b id="email13"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img14">
                      <div class="card-body">
                        <p class="card-text"> <b id="name14"></b></p>
                        <p class="card-text"> <b id="gp14"></b></p>
                        <p class="card-text"> <b id="email14"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img15">
                      <div class="card-body">
                        <p class="card-text"> <b id="name15"></b></p>
                        <p class="card-text"> <b id="gp15"></b></p>
                        <p class="card-text"> <b id="email15"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img16">
                      <div class="card-body">
                        <p class="card-text"> <b id="name16"></b></p>
                        <p class="card-text"> <b id="gp16"></b></p>
                        <p class="card-text"> <b id="email16"></b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h4 class="bg-light rounded p-3 border border-2">Semester-5</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img17">
                      <div class="card-body">
                        <p class="card-text"> <b id="name17"></b></p>
                        <p class="card-text"> <b id="gp17"></b></p>
                        <p class="card-text"> <b id="email17"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img18">
                      <div class="card-body">
                        <p class="card-text"> <b id="name18"></b></p>
                        <p class="card-text"> <b id="gp18"></b></p>
                        <p class="card-text"> <b id="email18"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img19">
                      <div class="card-body">
                        <p class="card-text"> <b id="name19"></b></p>
                        <p class="card-text"> <b id="gp19"></b></p>
                        <p class="card-text"> <b id="email19"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img20">
                      <div class="card-body">
                        <p class="card-text"> <b id="name20"></b></p>
                        <p class="card-text"> <b id="gp20"></b></p>
                        <p class="card-text"> <b id="email20"></b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h4 class="bg-light rounded p-3 border border-2">Semester-6</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img21">
                      <div class="card-body">
                        <p class="card-text"> <b id="name21"></b></p>
                        <p class="card-text"> <b id="gp21"></b></p>
                        <p class="card-text"> <b id="email21"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img22">
                      <div class="card-body">
                        <p class="card-text"> <b id="name22"></b></p>
                        <p class="card-text"> <b id="gp22"></b></p>
                        <p class="card-text"> <b id="email22"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img23">
                      <div class="card-body">
                        <p class="card-text"> <b id="name23"></b></p>
                        <p class="card-text"> <b id="gp23"></b></p>
                        <p class="card-text"> <b id="email23"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img24">
                      <div class="card-body">
                        <p class="card-text"> <b id="name24"></b></p>
                        <p class="card-text"> <b id="gp24"></b></p>
                        <p class="card-text"> <b id="email24"></b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h4 class="bg-light rounded p-3 border border-2">Semester-7</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img25">
                      <div class="card-body">
                        <p class="card-text"> <b id="name25"></b></p>
                        <p class="card-text"> <b id="gp25"></b></p>
                        <p class="card-text"> <b id="email25"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img26">
                      <div class="card-body">
                        <p class="card-text"> <b id="name26"></b></p>
                        <p class="card-text"> <b id="gp26"></b></p>
                        <p class="card-text"> <b id="email26"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img27">
                      <div class="card-body">
                        <p class="card-text"> <b id="name27"></b></p>
                        <p class="card-text"> <b id="gp27"></b></p>
                        <p class="card-text"> <b id="email27"></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                      <img src="" class="card-img-top" alt="..." id="img28">
                      <div class="card-body">
                        <p class="card-text"> <b id="name28"></b></p>
                        <p class="card-text"> <b id="gp28"></b></p>
                        <p class="card-text"> <b id="email28"></b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <b class="carousel-control-prev-icon" aria-hidden="true"></b>
            <b class="visually-hidden">Previous</b>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <b class="carousel-control-next-icon" aria-hidden="true"></b>
            <b class="visually-hidden">Next</b>
          </button>
        </div>
      </div>
    </div>
    <div id="sec5" class="mb-5">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h3 class="bg-dark text-white rounded p-3 border border-2">Current Semester Toppers</h3>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4 class="bg-light rounded p-3 border border-2">Semester-8</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card" style="width: 15rem;">
                <img src="" class="card-img-top" alt="..." id="img29">
                <div class="card-body">
                  <p class="card-text"> <b id="name29"></b></p>
                  <p class="card-text"> <b id="gp29"></b></p>
                  <p class="card-text"> <b id="email29"></b></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15rem;">
                <img src="" class="card-img-top" alt="..." id="img30">
                <div class="card-body">
                  <p class="card-text"> <b id="name30"></b></p>
                  <p class="card-text"> <b id="gp30"></b></p>
                  <p class="card-text"> <b id="email30"></b></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15rem;">
                <img src="" class="card-img-top" alt="..." id="img31">
                <div class="card-body">
                  <p class="card-text"> <b id="name31"></b></p>
                  <p class="card-text"> <b id="gp31"></b></p>
                  <p class="card-text"> <b id="email31"></b></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15rem;">
                <img src="" class="card-img-top" alt="..." id="img32">
                <div class="card-body">
                  <p class="card-text"> <b id="name32"></b></p>
                  <p class="card-text"> <b id="gp32"></b></p>
                  <p class="card-text"> <b id="email32"></b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>