<section class="my-5">
    <h2 class="border border-2 rounded bg-dark text-light text-center">Contact Us</h2>
    <div>
        <div class="text-center">
          <div class="row w-100">
            <div class="col">
              <h3 class="border border-2 rounded bg-dark text-light">Address</h3>
              <p>Autonomous Institution affiliated to Visvesvaraya Technological University, Belagavi
                  Approved By AICTE, New Delhi, Accredited By NBA, New Delhi.<br>PIN:560059</p>
            </div>
            <div class="col">
              <h3 class="border border-2 rounded bg-dark text-light">Contact & Enquiry Number</h3>
              <dl style="text-align: left;">
                  <dt><b>Principal</b></dt>
                  <dd>Phone: 91-080-68188100 /  8111 <br>
                      Fax: 91-080-6717 8011</dd>
              </dl>
              <dl style="text-align: left;">
                  <dt><b>Enquiry</b></dt>
                  <dd>Ph : 91 - 080-68188100 /  8111
                      Fax: 91 - 080-6717 8011</dd>
              </dl>
            </div>
            <div class="col">
              <h3 class="border border-2 rounded bg-dark text-light">Email</h3>
              <dl style="text-align: left;">
                  <dt><b>Principal</b></dt>
                  <dd>Email : principal&#64;rvce.edu.in</dd>
                  <dt><b>Transport Incharge:</b></dt>
                  <dd>Email : transport&#64;rvce.edu.in</dd>
                  <dt><b>Office:</b></dt>
                  <dd>Email : office&#64;rvce.edu.in</dd>
              </dl>
            </div>
            <div class="col" style="text-align: left;">
              <h3 class="border border-2 rounded bg-dark text-light">Social Media</h3>
              <h1 class="fa-brands fa-x-twitter"></h1><p class="fa-brands"><a href="#">&#64;rvce_official</a></p><br>
              <h1 class="fa-brands fa-facebook md"></h1><p class="fa-brands"><a href="#">&#64;rvcollegeofengineering</a></p><br>
              <h1 class="fa-brands fa-youtube"></h1><p class="fa-brands"><a href="#">&#64;rvcollege</a></p>
            </div>
          </div>
          <div class="row w-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6491.415664870333!2d77.498911!3d12.922294!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3ee159ba3729%3A0x75a3463d510cf26e!2sR.%20V.%20College%20of%20Engineering!5e1!3m2!1sen!2sus!4v1707564804215!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
    </div>
</section>