<router-outlet></router-outlet>
<footer>
  <div>
    <div class="row w-100">
      <div class="col">
        <img src="https://png.pngtree.com/template/20190316/ourmid/pngtree-school-education-logo-image_80180.jpg"
          alt="error logo" height="80px" style="border-radius: 100%;border: 1px solid black;">
        <h3>Copright &copy; ACET</h3>
      </div>
      <div class="col text-center" style="margin: auto;">
        <h5>Mysore Rd, <br>RV Vidyaniketan, Post, <br>Bengaluru, Karnataka 560059</h5><br>
        <h1 class="fa-brands fa-facebook md" style="color: blue;"></h1>
        <h1 class="fa-brands fa-square-whatsapp" style="color: green;"></h1>
        <h1 class="fa-brands fa-x-twitter"></h1>
        <h1 class="fa-brands fa-youtube" style="color: red;"></h1>
        <h1 class="fa-brands fa-linkedin" style="color: blue;"></h1>
      </div>
      <div class="col text-center" style="margin: auto;">
        <h6>APPROVED & AFFILIATED BY</h6>
        <div style="display: inline-flex;">
          <img src="https://media.cakeresume.com/image/upload/s--ZUUZnpp2--/c_pad,fl_png8,h_315,w_600/v1548034694/wtswksbxj38tloji9kif.png" height="80px" width="100px" alt="" style="border-radius: 100%;border: 1px solid black;">
          <img src="https://static.vecteezy.com/system/resources/thumbnails/021/996/239/small/university-logo-design-vector.jpg" height="80px" width="100px" alt="" style="border-radius: 100%;border: 1px solid black;">
        </div>
      </div>
    </div>
  </div>
</footer>