<section>
    <div id="sec1" class="text-center">
        <div class="row w-100 m-auto">
            <div class="col m-4">
                <div class="card border border-2 border-dark shadow">
                    <div class="card-body">
                        <h5 class="card-title">Click here for attendence entry</h5>
                        <a routerLink="depattendence" class="btn btn-primary">Attendence Entry</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100 m-auto">
            <div class="col m-4">
                <div class="card border border-2 border-dark shadow">
                    <div class="card-body">
                        <h5 class="card-title">Click Here for Marks Entry</h5>
                        <a routerLink="depmarkentry" class="btn btn-primary">Mark Entry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="sec2">
        <table class="table table-striped table-hover" style="width: 90%; margin-left: 5%; ">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Course</th>
                    <th scope="col">Email</th>
                    <th scope="col">GPA</th>
                    <th scope="col" colspan="2" class="text-center">Modify</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" id="id0"></th>
                    <td id="name0"></td>
                    <td id="age0"></td>
                    <td id="gender0"></td>
                    <td id="course0"></td>
                    <td id="email0"></td>
                    <td id="gp0"></td>
                    <td id="" class="text-center"><i class="bi bi-trash"></i></td>
                    <td id=""><i class="bi bi-pencil-square"></i></td>
                </tr>
                <tr>
                    <th scope="row" id="id1"></th>
                    <td id="name1"></td>
                    <td id="age1"></td>
                    <td id="gender1"></td>
                    <td id="course1"></td>
                    <td id="email1"></td>
                    <td id="gp1"></td>
                    <td id="" class="text-center"><i class="bi bi-trash"></i></td>
                    <td id=""><i class="bi bi-pencil-square"></i></td>
                </tr>
                <tr>
                    <th scope="row" id="id2"></th>
                    <td id="name2"></td>
                    <td id="age2"></td>
                    <td id="gender2"></td>
                    <td id="course2"></td>
                    <td id="email2"></td>
                    <td id="gp2"></td>
                    <td id="" class="text-center"><i class="bi bi-trash"></i></td>
                    <td id=""><i class="bi bi-pencil-square"></i></td>
                </tr>
                <tr>
                    <th scope="row" id="id3"></th>
                    <td id="name3"></td>
                    <td id="age3"></td>
                    <td id="gender3"></td>
                    <td id="course3"></td>
                    <td id="email3"></td>
                    <td id="gp3"></td>
                    <td id="" class="text-center"><i class="bi bi-trash"></i></td>
                    <td id=""><i class="bi bi-pencil-square"></i></td>
                </tr>
                <tr>
                    <th scope="row" id="id4"></th>
                    <td id="name4"></td>
                    <td id="age4"></td>
                    <td id="gender4"></td>
                    <td id="course4"></td>
                    <td id="email4"></td>
                    <td id="gp4"></td>
                    <td id="" class="text-center"><i class="bi bi-trash"></i></td>
                    <td id=""><i class="bi bi-pencil-square"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>