<header>
<nav>
    <div class="row navbar w-100 mb-2">
      <div class="col-5">
        <img src="https://png.pngtree.com/template/20190316/ourmid/pngtree-school-education-logo-image_80180.jpg"
          alt="error logo" height="80px">
      </div>
      <div class="col nav-item">
        <a routerLink="" class="nav-link">Home</a>
      </div>
      <div class="col nav-item">
        <a routerLink="about" class="nav-link">About US</a>
      </div>
      <div class="col nav-item">
        <a routerLink="gallery" class="nav-link">Gallery</a>
      </div>
      <div class="col nav-item">
        <a routerLink="contact" class="nav-link">Contact Us</a>
      </div>
      <div class="col nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>